# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer
/vendor
/composer.lock

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit
phpunit.phar
/phpunit.xml
/tests/runtime
/tests/data/config.local.php
/tests/docker
/tests/dockerids

